---
import HeadContent from "./HeadContent.astro";
---

<section id="about" class="tab-content">
 <HeadContent title="About me"/> 
  <div class="px-8">
    <p>
      Hey, if you are reading this it's because you want to know more about me.
      I'm Sebastian Romero, I'm 22 and I started learning how to program back in
      highschool around 2017. Our teacher was teaching us the basics with PSeint
      and then moved to Visual Basic. I did a little game in that class that
      unfortunately I lost, but with that game I could fall in love with the
      programming, even with my little knowledge, I could create something
      valuable, at least for me. The game was about different animals moving
      around the screen and every time you clicked someone it will be getting
      faster to try to click the other one, a timer was ticking and the goal was
      to catch the most animals you can in 30 seconds, at the end it will show
      you your final score. Then I went to the university in 2019 at Universidad
      de la Costa to study Computer Science where I learned about Data
      Structures, OOP, Databases, Automata Theory, Logic, Networking, Software
      Development, etc.
    </p>
  </div>
</section>
