---
const {title} = Astro.props;
---

<div class="pl-8 mt-8 w-fit">
    <h1 class="text-3xl font-bold">{title}</h1>
    <div class="h-[0.3rem] rounded-xl my-1 w-full bg-[var(--primary-color)]">
    </div>
</div>