---
import ItemHeader from "./ItemHeader.astro"
---
<header class="relative w-full">
    <ul class="absolute bg-[var(--secondary-color)] right-0 flex gap-12 py-2 pl-4 pr-12 rounded-tr-3xl rounded-bl-2xl">
        <li><ItemHeader title="About"/></li>
        <li><ItemHeader title="Resume"/></li>
        <li><ItemHeader title="Projects"/></li>
        <li><ItemHeader title="Blog"/></li>
    </ul>
</header>