---
import InfoCard from "./InfoCard.astro";
import Content from "./content/Content.astro"
---

<section class="h-screen w-full flex items-start justify-center">
    <div class="h-fit w-full max-w-6xl flex flex-col xl:flex-row gap-4 pb-20 pt-6 xl:pb-0 xl-:pt-0 xl:mt-12 mx-4 md:mx-12 ">
        <InfoCard/>
        <Content/>
    </div>
</section> 
