---
import InfoCard from "./InfoCard.astro";

---

<section class="h-screen w-full flex items-start justify-center">
    <div class="h-fit w-full max-w-7xl flex flex-col lg:flex-row lg:transition-all lg:ease-in-out lg:delay-150 lg:duration-300 gap-4 mt-12 mx-4 md:mx-12">
        <InfoCard/>
        <div class=" bg-[var(--background-card)] w-full ">
            ola
        </div>
    </div>
</section> 
